<h1>Web18-17</h1>
<h2> Basics: </h2>
<ol><li><h3><%= link_to "PSet 1", "http://web17.cs.ait.ac.th/ps1/index" %></h3></li>
    <li><h3><%= link_to "PSet 2", "http://web17.cs.ait.ac.th/ps2/index" %></h3></l1>
    <li><h3><%= link_to "PSet 3", "http://web17.cs.ait.ac.th/ps3/index" %></h3></l1>
<h2> Documentation: </h2>
<li><h3><%= link_to "PSet 4: Main Project Layout", "https://docs.google.com/document/d/1TUTWJMhc0Pc-1nkKDC_SNlKG31n_NBw0_WWGjD6--8M/edit?usp=sharing" %></h3></li>
<li><h3><%= link_to "Issue Tracker: Trello", "https://trello.com/b/V7d0Dsly/web18-17" %></h3>
<li><h3><%= link_to "PSet 5: Content Management", "https://docs.google.com/document/d/1OmsJr15xnWiMtDEyFQc68ikPzvS8m-MBvJVPKbH2RBw/edit?usp=sharing" %></h3></li>
<li><h3><%= link_to "PSet 6: User Evaluation", "https://docs.google.com/document/d/1EqOICmP6PimSDRVB-ZFcqrEYf8fDz4xn3559pPnwJSo/edit?usp=sharing" %></h3></li>

</ol>
