<p id="notice"><%= notice %></p>

<p>
  <strong>Customer Name:</strong>
  <%= @booking.customer.name %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @booking.destination %>
</p>

<p>
  <strong>Ride ID:</strong>
  <%= @booking.ride.id %>
</p>

<p>
  <strong>Driver Contact Number:</strong>
  <%= @booking.driverphn %>
</p>

<p>
  <strong>Registration Number of Car:</strong>
  <%= @booking.carno %>
</p>

<p>
  <strong>Type of vehicle:</strong>
  <%= @booking.cartype %>
</p>

<p>
  <strong>Number of seats left:</strong>
  <%= @booking.ride.seatsleft %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
