<% if user_signed_in? %>

<h2>User Management and Statistics</h2>

<h3>List of Customers</h3>

<table><table class="ui celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Baned Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td data-label><%= customer.name %></td>
        <td data-label><%= customer.role %></td>
        <td ><%= customer.ban %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Delete User', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Ban', ban_path(customer) %></td>
        <td><%= link_to 'Unban', unban_path(customer) %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<h2> User statistics </h2>
<p> Total Number of users in the system = <%= Customer.count%> </p>
<%= link_to 'Add New Customer', new_customer_path %>
<br>
<%else%>
<%= render 'unauth' %>     
<% end %>