<%= form_with(model: ride, local: true) do |form| %>
  <% if ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ride.errors.count, "error") %> prohibited this ride from being saved:</h2>

      <ul>
      <% ride.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :"Registration number of car" %>
    <%= form.text_field :carno %>
  </div>

  <div class="field">
    <%= form.label :"Type of vehicle" %>
    <%= form.select :cartype, options_for_select([["Sedan","Sedan"],["SUV","SUV"],["Coupé","Coupé"],["Van","Van"],["Other","Other"]],"Sedan")%>

  </div>

  <div class="field">
    <%= form.label :"Driver Contact number" %>
    <%= form.text_field :driverphn %>
  </div>

  <div class="field">
    <%= form.label :"Destination" %>
    <%= form.select :destination, options_for_select([["Mochit","Mochit"],["Khao-San Road","Khao-San Road"],["Suvarnabhumi Airport","Suvarnabhumi Airport"],["Victoria Monument","Victoria Monument"],["Asiatique","Asiatique"]],"Mochit")%>

  </div>

  <div class="field">
    <%= form.label :seats %>
    <%= form.number_field :seats %>
  </div>

  <div class="field">
    <%= form.label :"Time"  %>
    <%= form.text_field :time, placeholder: "(HH:MM)" %>

    
  </div>

  <div class="field">
    <%= form.label :"Ride complete" %>
    <%= form.check_box :complete %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
