<p id="notice"><%= notice %></p>

<h1>Rides</h1>

<table>
  <thead><table class="ui celled table">
    <tr>
      <th>Carno</th>
      <th>Cartype</th>
      <th>Driverphn</th>
      <th>Destination</th>
      <th>Seats</th>
      <th>Time</th>
      <th>Complete</th>
      <th>Seatsleft</th>
      <th></th>
          </tr>
  </thead>

  <tbody>
    <% @rides.each do |ride| %>
      <tr>
        <td data-label><%= ride.carno %></td>
        <td data-label><%= ride.cartype %></td>
        <td data-label><%= ride.driverphn %></td>
        <td data-label><%= ride.destination %></td>
        <td data-label><%= ride.seats %></td>
        <td data-label><%= ride.time %></td>
        <td data-label><%= ride.complete %></td>
        <td data-label><%= ride.seatsleft %></td>
        <td data-label><%= link_to 'Show', ride %></td>
        
    <% end %>
    

  </tbody>
</table>
<br>

<%= link_to 'New Ride', new_ride_path %>
