<p id="notice"><%= notice %></p>

<h1>Rides</h1>

<table>
  <thead><table class="ui celled table">
    <tr>
      <th>Vehicle Registration Number</th>
      <th>Vechicle type</th>
      <th>Driver Contact Number</th>
      <th>Destination</th>
      <th>Total seats</th>
      <th>Time</th>
      <th>Complete</th>
      <th>Seats remaining</th>
      <th></th>
          </tr>
  </thead>

  <tbody>
    <% @rides.each do |ride| %>
      <tr>
        <td data-label><%= ride.carno %></td>
        <td data-label><%= ride.cartype %></td>
        <td data-label><%= ride.driverphn %></td>
        <td data-label><%= ride.destination %></td>
        <td data-label><%= ride.seats %></td>
        <td data-label><%= ride.time %></td>
        <td data-label><%= ride.complete %></td>
        <td data-label><%= ride.seatsleft %></td>
        <td data-label><%= link_to 'Show', ride %></td>
        
    <% end %>
    

  </tbody>
</table>
<br>
<button class="ui button">
<%= link_to 'New Ride', new_ride_path %>
</button>