<p id="notice"><%= notice %></p>

<p>
  <strong>Carno:</strong>
  <%= @ride.carno %>
</p>

<p>
  <strong>Cartype:</strong>
  <%= @ride.cartype %>
</p>

<p>
  <strong>Driverphn:</strong>
  <%= @ride.driverphn %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @ride.destination %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @ride.seats %>
</p>

<p>
  <strong>Time:</strong>
  <%= @ride.time %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @ride.complete %>
</p>


</p>

<%= form_with(model: Booking.new, local: true) do |form| %>
    <%= form.hidden_field :customer_id, value: current_customer.id %>
    <%= form.hidden_field :destination, value: @ride.destination %>
    <%= form.hidden_field :ride_id, value: @ride.id %>
    <%= form.hidden_field :carno, value: @ride.carno %>
    <%= form.hidden_field :driverphn, value: @ride.driverphn %>
    <%= form.hidden_field :cartype, value: @ride.cartype %>
    # <%= form.hidden_field :seatsleft, value: (@ride.seatsleft-1) %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Back', rides_path %>
