<!DOCTYPE html>
<html>
  <head>
    <title>Web 18-17</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <% if flash[:error] %>
  <div id="error">
    <%= flash[:error] %>
  </div>
<% end %>
<div id="container">
  <div id="user_status">
    <% if user_signed_in? %>
      Welcome <%= current_user.email %>! Not you?
     <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
     <% elsif customer_signed_in? %>
     <%if current_customer.ban==true %>
    <%= render 'banned' %>
    <%else%>
     Welcome <%= current_customer.email %>! Not you?
    <%= link_to "Sign out", destroy_customer_session_path, method: :delete %>
   
    <%end%>  
     <% else %>
      <%= link_to "Sign up", new_user_registration_path %> or
      <%= link_to "Sign in", new_user_session_path %>
      <%= link_to "Sign in(customer)", new_customer_session_path %>
    <% end %>
    
</div>
  




<%if current_customer==nil||current_customer.ban!=true %>
  <%= yield %>
  <%end%>
    <a href="https://validator.w3.org/nu/?doc=<%= request.original_url %>">Syntax Validation</a>
    
  </body>
</html>
