<!DOCTYPE html>
<html>
  <head>
    <title>Web 18-17</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <a href="https://validator.w3.org/nu/?doc=<%= request.original_url %>">Syntax Validation</a>

  </body>
</html>
